

@media
	only screen and (max-device-width: 640px), 
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px) 
{
	.listInfo {
		padding : 30px 0;
	}

	.practiceCont {
		width : 100%;
		text-align : center;
	}

	.wordWrapper {
		margin-top : 150px;
		text-align : center;
	}
	
	.wordWrapper div {
		display : block;
	}

	#wordContainer {
		font-size : 50px;
	}

	#meanContainer {
		margin : 40px 0;
		font-size : 30px;
	}
}