
@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px) 
{
	.homeContainer {
		margin : 0 auto;
		padding : 40px 0;
		width : 90%;
		text-align : center;
	}

	.homeContainer div {
		margin : 30px auto;
		padding : 15px 0;
		border : 1px solid #000;
		border-radius : 5px;
		cursor : pointer;
		font-size : 20px;
	}
}