
<template name="teacherHomeView">
	<div id="teacherHomeContainer" class="homeContainer">
		<div class="btn btn-lg btn-primary btn-block">{{name}} 님 안녕하세요!</div>
		<div class="row btn btn-lg btn-primary btn-block" id="lastListDateBtn">
			<span class="tag">최근 목록</span> <span class="tagValue">{{lastListDate}}</span>
		</div>
		<div id="createNewListBtn" class="btn btn-lg btn-primary btn-block">새 목록 작성하기</div>
		<div id="viewListBtn" class="btn btn-lg btn-primary btn-block">이전 목록 불러오기</div>
		<div id="logoutBtn" class="btn btn-lg btn-primary btn-block">로그 아웃</div>
	</div>
</template>