

@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px) 
{
	.listHeader {
		margin : 0 auto;
		padding-top : 100px;
		padding-bottom : 50px;
		font-size : 40px;
	}

	.leftSpan {
		margin-right : 50px;
	}
	
	.wordListContainer {
		padding : 50px 0 100px 0;
		height : 700px;
		overflow-y : auto;
	}

	.wordContainer {
		margin : 15px 0;
	}

	.wordContainer div {
		display : inline;
		margin : 0 100px;
		font-size : 45px;
	}
}