

@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px) 
{
	.listHeader {
		width : 90%;
		margin : 0px auto;
		font-size : 20px;
		padding : 10px 0;
		border-bottom-left-radius : 10px;
		border-bottom-right-radius : 10px;
	}
	
	.wordListContainer {
		width : 100%;
		margin : 10px auto;
		height : 330px;
		text-align : center;
		overflow-y : auto;
		border : 0;
		font-size : 20px;
	}
	
	.wordListContainer td {
		width : 50%;
		padding : 5px 0;
	}
}