

@media
	only screen and (max-device-width: 640px), 
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px) 
{
	.listInfo {
		padding : 30px 0;
	}

	.practiceCont {
		width : 100%;
		padding-bottom : 30px;
		text-align : center;
	}

	.wordWrapper {
		padding-top : 30px;
		text-align : center;
	}
	
	.studentPracticeViewWrapper {
		padding-top : 100px;
	}
	
	#prevBtn, #nextBtn {
		width : 35%;
		margin : 0 10px;
	}
	
	.wordWrapper div {
		display : block;
	}

	#wordContainer {
		font-size : 40px;
	}

	#meanContainer {
		margin : 40px 0;
		font-size : 25px;
	}
	
	.hideWord {
		color : #fff;
	}
}